<h1 class="cover-heading">Upload photos to create a memoire.</h1>
<p class="lead">




  <%= form_for @photo, html: { multipart: true } do |f| %>
    <p>
      <label style="display:none;">Upload Photos</label>
      <%= f.file_field :file, multiple: true %>
      <%= f.submit "Upload" %>
    </p>
  <% end %>

</p>