<script>
  Dropzone.options.uploadForm = {
    paramName: "file",
    maxFilesize: 10,
    parallelUploads: 2,
    autoProcessQueue: true,
    acceptedFiles: 'image/jpeg, image/png, image/gif',

    init: function() {
      this.on("complete", function(file) { alert("Added file."); console.log(file); });
    }
  }
</script>

<h1 class="cover-heading">Upload photos to create a memoire.</h1>
<p class="lead row">

  <%= form_for @photo, html: { multipart: true, class: 'dropzone col-md-8 col-md-offset-2', id: 'upload-form'} do |f| %>
  <% end %>

</p>