<script>

  pending_ids = [];

  Dropzone.options.uploadForm = {
    paramName: "file",
    maxFilesize: 10,
    parallelUploads: 2,
    autoProcessQueue: true,
    acceptedFiles: 'image/jpeg, image/png, image/gif',

    init: function () {
      this.on("complete", function (file) {
        pending_ids.push(JSON.parse(file.xhr.response)['response']['id']);
        $('#album-ids').val(pending_ids);
        console.log(pending_ids);
      });
    }
  }
</script>

<h1 class="cover-heading">Upload photos to create a memoire.</h1>
<div class="row" style="margin: 32px 0;">

  <%= form_for @photo, html: { multipart: true, class: 'dropzone col-md-10 col-md-offset-1', id: 'upload-form'}, remote: true do |f| %>
  <% end %>

</div>

<div class="row">

  <%= form_tag({controller: 'album', action: 'create'}, html: {class: 'col-md-12', id: 'submit-form'}) do |f| %>
    <input type="hidden" id="album-ids" name="album-ids"/>
    <input name='commit' type='submit' value='Create' class="btn btn-lg btn-primary"
           style="background-color: #EEEEEE; border-color: #EEEEEE; margin-top: 8px;"/>
<% end %>

</div>


